<template>
  <b-container class="no-margin-no-padding">
    <b-jumbotron>
      <template v-slot:header>VotePeer</template>

      <template v-slot:lead>
        Censorship resistant blockchain voting.
      </template>

      <b-button v-if="!authenticated"
        style="margin: 0.5em;" variant="success" size="lg" to="/login">
        Login
      </b-button>
      <b-button v-if="authenticated"
        style="margin: 0.5em;" variant="success" size="lg" to="/dashboard">
        Dashboard
      </b-button>

      <b-button style="margin: 0.5em;" variant="primary" size="lg" target="_blank" href="https://docs.voter.cash/">
        Documentation
      </b-button>

      <hr class="my-4">

      <p>
        VotePeer allows you to rapidly set up hold a vote or a poll on top of the Bitcoin Cash
        blockchain that implements the <em>two option vote</em> Bitcoin Cash smart contract.
      </p>
      <p>The <em>two option vote</em> smart-contract allows participating in elections, verifying
        and tallying the result of an election without running a full Bitcoin Cash node.
        <em>two option vote</em> is fully SPV-client compatible and the votes are non-transferable.
      </p>
      <p style="font-style: italic;">
        No registration is required, use the android app and scan a QR code to log in.
      </p>

      <a target="_blank" href="https://gitlab.com/nerdekollektivet/votepeer-android-app/-/jobs/artifacts/master/raw/app-release.apk?job=assemble_release">
        <img style="height: 100px"
             src="../assets/apk-download-badge.png"
             alt="Direct download">
      </a>

      <a target="_blank" href="https://play.google.com/store/apps/details?id=info.bitcoinunlimited.voting">
        <img style="height: 100px" src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"  alt="Get it on google play">
      </a>
    </b-jumbotron>

  <h2>Android Application for Voting</h2>
  <b-row>
  <b-col>
  <!--suppress HtmlUnknownAnchorTarget -->
    <b-carousel
    :interval="4500"
    controls
    indicators
    background="#ababab"
    style="text-shadow: 1px 1px 2px #333; margin: auto;"
    >
    <b-carousel-slide
        v-for="s in screenshotsAndroid"
        :key="s.src"
        :img-src="s.src"
        :img-caption="s.alt" />
    </b-carousel>
  </b-col>
  <b-col>
    <p>
        <em>Your identity is on your phone.</em>
        Use the android application to vote.
        Your vote is cast directly to the Bitcoin Cash blockchain, not through us.
    </p>
    <p>There is no sign-up because you are in control your identity, not us.</p>

    <p>This application is free and <a href="https://gitlab.com/nerdekollektivet/buip129-website">open source</a> under the MIT license.

      <a target="_blank" href="https://gitlab.com/nerdekollektivet/votepeer-android-app/-/jobs/artifacts/master/raw/app-release.apk?job=assemble_release">
        <img style="height: 100px"
             src="../assets/apk-download-badge.png"
             alt="Direct download">
      </a>

      <a target="_blank" href="https://play.google.com/store/apps/details?id=info.bitcoinunlimited.voting">
        <img style="height: 100px" src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
           alt="Get it on google play">
      </a>
    </p>
    <p>The direct download links to the latest build in the
      <a href="https://gitlab.com/nerdekollektivet/votepeer-android-app">VotePeer GitLab Repository</a></p>
  </b-col>
  </b-row>

  <h2 style="margin-top: 1em;">Web interface for hosting elections</h2>
  <b-row>
  <b-col>
    <p>
        Web interface for hosting and administering elections. Use your phone
        to login with your identity.
    </p>
  </b-col>
  <b-col>
  <!--suppress HtmlUnknownAnchorTarget -->
    <b-carousel
    :interval="4000"
    controls
    indicators
    background="#ababab"
    style="text-shadow: 1px 1px 2px #333; margin: auto;"
    >
    <b-carousel-slide
        v-for="s in screenshotsWebsite"
        :key="s.src"
        :img-src="s.src"
        :img-caption="s.alt" />
    </b-carousel>
  </b-col>
  </b-row>

    <b-row style="margin-top: 0.5em;">
      <b-col>
        <h3>For Developers</h3>
        <b-list-group flush>
          <b-list-group-item>
            <a href="https://nerdekollektivet.gitlab.io/votepeer-documentation/">
            Smart contract specification</a>
          </b-list-group-item>
          <b-list-group-item><a href="https://www.npmjs.com/package/two-option-vote">Npm package for transparent voting</a> &mdash;
            <span style="font-face: 'Courier New', Courier, monospace; font-style: italic;">
              npm -i two-option vote</span></b-list-group-item>
          <b-list-group-item>
            <p>
              <a href="https://gitlab.com/bitcoinunlimited/libbitcoincashkotlin">libbitcoincash</a>
              for Kotlin (MIT license)
            </p>
            <p>This library includes an implementation of the two-option-vote contract</p>
          </b-list-group-item>
          <b-list-group-item>
            <a href="https://gitlab.com/nerdekollektivet/buip129-website">Git repository for VotePeer website</a> (MIT License)
          </b-list-group-item>
          <b-list-group-item>
            <a href="https://gitlab.com/nerdekollektivet/votepeer-library">Git repository for the VotePeer Android library</a> (MIT License)
          </b-list-group-item>
          <b-list-group-item>
            <a href="https://gitlab.com/nerdekollektivet/buip129-android">Git repository for the VotePeer Android App</a> (MIT License)
          </b-list-group-item>
          </b-list-group>
      </b-col>

      <b-col>
      <h3>In the news</h3>
        <b-list-group flush>
          <b-list-group-item v-for="medialink in medialinks" :key="medialink.url">
            <a :href="medialink.url">{{medialink.title}}</a>
          </b-list-group-item>
        </b-list-group>
    </b-col>
    </b-row>

    <div>
      <h2>Research questions</h2>
      <div style="font-size: 80%;">
        <u>Resolved</u>
        <ul>
          <li>RQ1: Can the public bitcoin cash blockchain run pseudo-anonymous and transparent
            elections on-chain? <span style="text-decoration: underline;">Yes</span></li>
        </ul>
        <u>Open</u>
        <ul>
          <li>RQ2: Can the public bitcoin cash blockchain run
            anonymous elections on-chain using ring signatures?</li>
          <li>RQ3: If the public bitcoin cash blockchain can run anonymous elections [RQ2],
            can it scale to 100 000 participants?</li>
        </ul>
      </div>
      <p>This is a research and development project (2020 - 2021).
        <a href="http://t.me/buip129">Contact us</a> if this research is of interest to you.</p>
    </div>

      <h2>License</h2>
    <div>
      All software components of VoterPeer are licensed under
      <a href="https://opensource.org/licenses/MIT">The MIT License</a>,
      including this website, the Android Activity, the Android App and the Javascript libraries.
    </div>

    <h2 style="margin-top: 0.5em;">Resources</h2>

      <b-button style="margin: 0.5em;" variant="primary" size="lg" target="_blank" href="http://t.me/buip129">
        Telegram
      </b-button>

      <b-button style="margin: 0.5em;" variant="primary" size="lg" target="_blank" href="https://twitter.com/votepeer">
        Twitter
      </b-button>

      <b-button style="margin: 0.5em;" variant="outline-primary" size="lg" target="_blank" href="https://explorer.bitcoinunlimited.info/tx/974dc4f3f2152d0cf57b890ddc0924d317b59a955b9e8d33f1239d68deb962dc">
        Blockchain explorer: Voting transaction
      </b-button>

  </b-container>
</template>

<style lang="scss">
.no-margin-no-padding {
  margin: 0 !important;
  padding: 0 !important;
}
</style>

<script lang="ts">
/* eslint global-require: 0 */
import {
  Component, Vue,
} from 'vue-property-decorator';
import authService from '../services/auth';

interface ScreenShot{
  readonly src: string;
  readonly alt: string
}

@Component
export default class LandingPage extends Vue {
  private authenticated = false;

  private medialinks = [{
    title: 'Announcing VoterPeer from BU',
    url: 'https://read.cash/@Bitcoin-Unlimited/announcing-votepeer-from-bu-767d16a3',
  },
  {
    title: 'Bitcoin.com: Bitcoin Unlimited Launches Two-Option Voting App Powered by Bitcoin Cash',
    url: 'https://news.bitcoin.com/bitcoin-unlimited-launches-two-option-voting-app-powered-by-bitcoin-cash/',
  },
  {
    title: 'Reddit thread',
    url: 'https://old.reddit.com/r/btc/comments/itvski/announcing_votepeer_from_bu_decentralised_voting/',
  },
  {
    title: 'Unlimit Podcast - VotePeer: Decentralised, censorship-resistant voting',
    url: 'https://www.youtube.com/watch?v=_MXrg3Ac8Ts',
  },
  {
    title: 'VotePeer — A call For Testers',
    url: 'https://bitcoinunlimit.medium.com/votepeer-a-call-for-testers-a0686c89ce6e',
  }];

  private screenshotsWebsite: Array<ScreenShot> = [{
    src: require('../assets/screenshots/website-new-election.png'),
    alt: 'Creating a new election',
  },
  {
    src: require('../assets/screenshots/website-election-details.png'),
    alt: 'Election details',
  },
  {
    src: require('../assets/screenshots/website-election-list.png'),
    alt: 'Election overview',
  },
  {
    src: require('../assets/screenshots/website-groups.png'),
    alt: 'User groups',
  },
  ];

  private screenshotsAndroid: Array<ScreenShot> = [{
    src: require('../assets/screenshots/android-election-list.png'),
    alt: 'List of elections in App',
  },
  {
    src: require('../assets/screenshots/android-submit-vote.png'),
    alt: 'Casting a vote in App',
  },
  {
    src: require('../assets/screenshots/android-identity.png'),
    alt: 'User account is a Bitcoin Cash address',
  },
  ];

  public async created() {
    authService.observeAuth()
      .subscribe((currentUser) => {
        const isAnonymous = currentUser?.isAnonymous;
        this.authenticated = currentUser != null && !isAnonymous;
      });
  }

  public scrollMeTo(refName: string) {
    const element: any = this.$refs[refName];
    const top = element.offsetTop;
    window.scrollTo({
      top,
      left: 0,
      behavior: 'smooth',
    });
  }
}
</script>
