<template>
  <div class="new-election" style="max-width: 40em;">
    <header>
        <h1>New Election</h1>
    </header>

    <b-form v-on:submit.prevent>
        <b-form-group
            style="margin-bottom: 1em;"
            label="Election type">
            <b-form-radio-group
              v-model="electionType"
              :options="electionTypeOptions"
              name="election-type-radios">
            </b-form-radio-group>

            <div style="margin-top: 0.5em; font-size: 90%; font-style: italic">
              <div v-if="electionType === 'multioptionvote'">
                <span style="font-weight: bolder;">Transparent:</span>
                All participants votes will be transparent on the blockchain.
                Everyone can see what everyone voted.
              </div>
              <div v-if="electionType === 'ringsignature'">
                <span style="font-weight: bolder;">Anonymous:</span>
                All votes will be transparent on the blockchain, but the vote
                it self does not expose who cast the vote.
              </div>
            </div>
        </b-form-group>

        <b-form-group
            label="Title"
            label-for="description">
            <p>
            <span style="font-weight: bolder;" v-if="description">
                {{ description | makeTitle }}
            </span>
            <span style="font-style: italic;" v-else>
                The title will be the first line of description.
            </span>
            </p>
        </b-form-group>

        <b-form-group
            label="Description"
            label-for="description">
            <textarea id="description" v-model="description" class="form-control"
            placeholder="Describe the election and elaborate on the vote options"
            rows="5"></textarea>
        </b-form-group>

        <b-form-group
          label="Add a vote option"
          label-for="newVoteOption">

            <b-form inline @submit="addVoteOption" v-on:submit.prevent>
                <b-form-input id="newVoteOption"
                    placeholder="Example: Accept Proposal"
                    style="width: 80%"
                    v-model="newVoteOption" @keyup.enter="addVoteOption">
                </b-form-input>
                <b-button
                  style="margin-left: 0.3em;"
                  v-on:click="addVoteOption">Add</b-button>
            </b-form>
        </b-form-group>
        <b-form-group>
            <div v-if="voteOptions.length !== 0" style="margin-top: 1em;">
                <span>Vote options added:</span>

                <ul id="vote-options-list" class="list-group-flush">
                <li v-for="option in voteOptions" :key="option" class="list-group-item">
                {{ option }}
                    <b-button size="sm" variant="outline-danger"
                        style="margin-left: 1em;"
                        v-on:click="removeVoteOption(option)">x</b-button>
                </li>
                </ul>
            </div>
        </b-form-group>

        <b-form-group
          label="Add a participant by address"
          label-for="newParticipant">

            <b-form inline @submit="addParticipant"
                v-on:submit.prevent>
                <b-form-input id="newParticipant" autocomplete="off"
                    placeholder="bitcoincash:pq6snv5fcx2fp6dlzg7s0m9zs8yqh74335tzvvfcmq"
                    style="width: 80%"
                    v-model="newParticipant" @keyup.enter="addParticipant">
                </b-form-input>
                <b-button
                  style="margin-left: 0.3em;"
                  v-on:click="addParticipant">Add</b-button>
                <b-button
                  style="margin-left: 0.2em;"
                  v-on:click="displayQrScanner = !displayQrScanner">
                    <b-icon icon="upc-scan" ></b-icon>
                </b-button>

            </b-form>
            <qrcode-stream
                style="margin-top: 0.5em; margin-bottom: 0.5em; border: 2px solid silver;"
                v-if="displayQrScanner" @decode="addOneParticipant"></qrcode-stream>

        <b-form-group v-if="ownedGroups.length"
          style="margin-top: 0.5em"
          label="Add participants from your groups" />
          <b-button v-for="group in ownedGroups"
            :key="group.groupId"
            style="margin-right: 0.5em"
            v-on:click="addMultipleParticipants(group.participants)">
            Group '{{ group.title }}'
          </b-button>
        </b-form-group>

        <b-form-group>
            <div v-if="participants.length !== 0" style="margin-top: 1em;">
                <span>Participants added:</span>

                <ul id="participant-list" class="list-group-flush">
                <li v-for="participant in participants" :key="participant" class="list-group-item">
                <span v-html="ppAddress(participant)">
                </span>
                    <b-button size="sm" variant="outline-danger"
                        style="margin-left: 1em;"
                        v-on:click="removeParticipant(participant)">x</b-button>
                </li>
                </ul>
            </div>
        </b-form-group>

        <b-form-group
            label="Election start (approximate)"
            label-for="electionBeginHeight">
            <div style="max-width: 30em;" v-if="beginHeight !== -1">

                <vue-slider
                    :min="currentHeight"
                    :max="sliderMaxHeight"
                    :tooltip-formatter="'Block height {value}'"
                    v-model="beginHeight">
                </vue-slider>
                <span>{{ beginHeight | estimateTime(currentHeight) }}</span>
            </div>
            <div v-else>
                Loading current block height...

                <div class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
            </div>
        </b-form-group>

        <b-form-group
            label="Election end time (approximate)"
            label-for="electionEndHeight">
            <div style="max-width: 30em;" v-if="endHeight != -1">

                <vue-slider
                    :min="beginHeight + 1"
                    :max="sliderMaxHeight"
                    :tooltip-formatter="'Block height {value}'"
                    v-model="endHeight">
                </vue-slider>
                <span>{{ endHeight | estimateTime(currentHeight) }}</span>
            </div>
            <div v-else>
                Loading current block height...

                <div class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
            </div>
        </b-form-group>

        <b-form-group
            style="margin-bottom: 1em;"
            label="Visiblity">
            <b-form-radio-group
              v-model="visibility"
              :options="visibilityOptions"
              name="visibility-radios">
            </b-form-radio-group>

            <div style="margin-top: 0.5em; font-size: 90%; font-style: italic">
              <div v-if="visibility === 'participants'">
                <span style="font-weight: bolder;">Participants only:</span>
                The election details are only visible by participants of this election.
              </div>
              <div v-if="visibility === 'public'">
                <span style="font-weight: bolder;">Everyone:</span>
                The election details will be able visible to everyone. It is not
                required to log in to view the election.
              </div>
            </div>
        </b-form-group>

        <div v-if="allowedTags === null" style="padding: 1em;">
            Loading tags...
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
        </div>
        <b-form-group
            label="Tags"
            v-if="allowedTags !== null && allowedTags.length !== 0">
            <b-form-checkbox-group
                v-model="selectedTags">
                <b-form-checkbox
                    :value=t
                    v-for="t in allowedTags" :key="t">{{ t }}
                </b-form-checkbox>
            </b-form-checkbox-group>
        </b-form-group>

        <b-button variant="primary"
            :disabled="!createElectionEnabled"
            v-on:click="createElection(this)">
          Create Election </b-button>
    </b-form>

  </div>
</template>

<script lang="ts">
/* eslint-disable import/extensions */
import {
  Component, Vue, Watch,
} from 'vue-property-decorator';
import { namespace } from 'vuex-class';
import { firebaseApp } from '../db';
import electionService from '../services/election';
import blockchainService from '../services/blockchain';
import { GroupDB, IGroup } from '../services/group';
import authService from '../services/auth';
import { normalizeAddress } from '../validation';
import UserAPI from '../services/userapi';

const alert_store = namespace('Alert');

@Component
export default class NewElection extends Vue {
  private displayQrScanner = false;

  private description = '';

  private newParticipant = '';

  private newVoteOption: string = '';

  private voteOptions: string[] = ['Accept', 'Reject'];

  private beginHeight = -1;

  private endHeight: number = -1;

  private sliderMinHeight: number = 0;

  private sliderMaxHeight: number = 1;

  private currentHeight: number = -1;

  private participants = [] as string[];

  private ownedGroups: Array<IGroup> = [];

  private authObserver: any = null;

  private groupDB: GroupDB = new GroupDB()

  private allowedTags: any = null;

  private selectedTags: string[] = [];

  private electionTypeOptions = [
    { text: 'Transparent', value: 'multioptionvote' },
    { text: 'Anonymous', value: 'ringsignature' },
  ]

  private visibilityOptions = [
    { text: 'Participants only', value: 'participants' },
    { text: 'Everyone', value: 'public' },
  ]

  private electionType = this.electionTypeOptions[0].value

  private visibility = this.visibilityOptions[0].value

  private createElectionEnabled = false;

  @alert_store.Action
  public displayAlert!: (content: string) => void

  @alert_store.Action
  public hideAlert!: () => void

  public async created() {
    this.authObserver = authService.observeAuth()
      .subscribe(async (currentUser: any) => {
        console.log('NewElection event: ', currentUser?.uid, currentUser?.isAnonymous);
        if (!currentUser || currentUser.isAnonymous) {
          return;
        }
        await this.onUserLoaded(currentUser.uid);
      },
      (error: any) => {
        console.warn(`subscribe error ${error}`);
      });

    await this.getCurrentBlockHeight();
  }

  private async onUserLoaded(user: string) {
    const groups = this.groupDB.getOwnerOf(user);
    const tags = UserAPI.listAllowedTags();

    try {
      this.ownedGroups = await groups;
    } catch (e) {
      console.warn(e);
      this.displayAlert(`Failed to load groups: ${e}`);
    }
    try {
      this.allowedTags = (await tags).tags;
    } catch (e) {
      console.warn(e);
      this.displayAlert(`Failed to load tags: ${e}`);
      this.allowedTags = [];
    }
  }

  private async getCurrentBlockHeight() {
    const h = await blockchainService.get_tip_height();
    this.currentHeight = h;
    this.sliderMinHeight = h + 1; // Next block
    this.sliderMaxHeight = h + blockchainService.days_to_blocks(30 * 6); // ~6 months
    if (this.endHeight === -1) {
      this.endHeight = h + blockchainService.days_to_blocks(30);
    }
    if (this.beginHeight === -1) {
      this.beginHeight = h;
    }
  }

  public async createElection() {
    if (this.voteOptions.length < 2) {
      this.displayAlert('You need at least 2 vote options');
    }
    if (this.description === '') {
      this.displayAlert('Description is empty');
      return;
    }
    if (this.participants.length === 0) {
      this.displayAlert('Election has zero participants');
      return;
    }

    if (this.endHeight === -1 || this.beginHeight === -1) {
      this.displayAlert('Still loading blockchain height');
      return;
    }

    const currentUserId = firebaseApp().auth().currentUser?.uid;
    const isAnonymous = firebaseApp().auth().currentUser?.isAnonymous;

    this.createElectionEnabled = false;
    if (!currentUserId || isAnonymous) {
      this.displayAlert('You are not logged in');
      this.$router.push({ name: 'login' });
      return;
    }

    try {
      const electionId = await electionService.createElection(
        this.beginHeight,
        this.electionType,
        this.description,
        this.endHeight,
        this.voteOptions,
        this.participants,
        this.visibility,
        this.selectedTags,
      );
      this.hideAlert();
      this.$router.push({ name: 'election', params: { id: electionId } });
    } catch (e) {
      this.displayAlert(`Election was not created: ${e}`);
    }
    this.createElectionEnabled = true;
  }

  public addMultipleParticipants(participants: Array<string>) {
    participants.forEach((p: string) => {
      this.addOneParticipant(p);
    });
  }

  public addOneParticipant(participant: string) {
    if (!participant) {
      // Ignore empty input
      this.newParticipant = '';
      return;
    }
    let address = '';
    try {
      address = normalizeAddress(participant);
    } catch (e: any) {
      this.displayAlert(e);
      return;
    }
    const alreadyAdded = this.participants.includes(address);
    if (alreadyAdded) {
      // Ignore
      this.newParticipant = '';
      return;
    }
    this.participants.push(address);
    this.newParticipant = '';
  }

  public addParticipant() {
    const participantAddress: string = this.newParticipant.trim();
    this.addOneParticipant(participantAddress);
  }

  private removeEntryIfExists(list: &string[], entry: string) {
    const index = list.indexOf(entry);
    if (index === -1) {
      return;
    }
    list.splice(index, 1);
  }

  public removeParticipant(participantAddress: string) {
    this.removeEntryIfExists(this.participants, participantAddress);
  }

  public addVoteOption() {
    const option = this.newVoteOption.trim();
    if (this.voteOptions.indexOf(option) !== -1) {
      // Already added, ignore.
      this.newVoteOption = '';
      return;
    }
    if (option === '') {
      return;
    }
    this.newVoteOption = '';
    this.voteOptions.push(option);
  }

  public removeVoteOption(option: string) {
    this.removeEntryIfExists(this.voteOptions, option);
  }

  @Watch('beginHeight')
  onBeginHeightChange(newBeginHeight: number) {
    this.createElectionEnabled = true;
    this.endHeight = Math.max(this.endHeight, newBeginHeight + 1);
  }
}
</script>
